[Unit]
Description=Mosque Signage Kiosk (Pi 4 Wayland)
After=network-online.target
Wants=network-online.target

[Service]
User=kiosk
Group=kiosk
PAMName=login
TTYPath=/dev/tty1
StandardInput=tty

Environment=XDG_RUNTIME_DIR=/run/user/1001
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1001/bus

ExecStartPre=/bin/sleep 2
ExecStart=/opt/mosque/scripts/start-kiosk.sh

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
